<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">
      {{ isEditMode ? "Edit" : "Create" }} User
    </h2>
    <a
      routerLink="/users"
      class="text-blue-500 hover:text-blue-700 transition duration-300 ease-in-out cursor-pointer"
    >
      &larr; Back to User List
    </a>
  </div>

  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
  >
    <div class="sm:col-span-3">
      <label
        for="firstName"
        class="block text-sm font-medium leading-6 text-gray-900"
        >First Name</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="firstName"
          id="firstName"
          formControlName="firstName"
          autocomplete="given-name"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-3">
      <label
        for="lastName"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Last Name</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="lastName"
          id="lastName"
          formControlName="lastName"
          autocomplete="family-name"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-3">
      <label
        for="birthdate"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Birthdate</label
      >
      <div class="mt-2">
        <input
          id="birthdate"
          name="birthdate"
          type="date"
          formControlName="birthdate"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-3">
      <label
        for="phoneNumber"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Phone Number</label
      >
      <div class="mt-2">
        <input
          id="phoneNumber"
          name="phoneNumber"
          type="text"
          formControlName="phoneNumber"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="col-span-full">
      <label
        for="address"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Address</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="address"
          id="address"
          formControlName="address"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-2 sm:col-start-1">
      <label
        for="city"
        class="block text-sm font-medium leading-6 text-gray-900"
        >City</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="city"
          id="city"
          formControlName="city"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label
        for="state"
        class="block text-sm font-medium leading-6 text-gray-900"
        >State</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="state"
          id="state"
          formControlName="state"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label
        for="zipcode"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Zipcode</label
      >
      <div class="mt-2">
        <input
          type="text"
          name="zipcode"
          id="zipcode"
          formControlName="zipcode"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
  </form>

  <button
    type="submit"
    class="w-full bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600 mt-8"
  >
    {{ isEditMode ? "Update" : "Create" }} User
  </button>
</div>
